<div id="<%= dom_id(article) %>" class="container mt-4">
  <div class="jumbotron">
    <h2><%= article.title %></h2>
  </div>

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <strong>Title:</strong> <%= article.title %>
      </p>

      <p class="card-text">
        <strong>Body:</strong> <%= article.body %>
      </p>
    </div>
  </div>

  <!-- Ajoutez ici d'autres éléments ou styles selon vos besoins -->

</div>
